* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: royalblue;

  --font-1: "poppins";

  --gap-1: 1rem;
}

.btn {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn--primary {
  background-color: #000;
  color: #fff;
}

.btn--secondary {
  background-color: var(--primary-color);
  color: #fff;
}
